* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 1440px;
    height: 1024px;   
    /* Light blue/light-blue-100 */ 
    background: #F3F5FC;
}

#logo {
    position: relative;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 0px;       
    /* Inside auto layout */    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;      
}

#rectangulo {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;    
}

#textoIngresado {
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */    
    color: #0A3871;                                                   
}

#frame1 {
    /* Frame 1 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
}

#exclamacion {
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;        
    /* Inside auto layout */    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

p{
    /* Apenas letras minúsculas e sem acento. */
    position: static;
    width: 228px;
    height: 18px;
    left: 24px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

 #frame3 {
    /* Frame 3 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#frame6 {
    /* Frame 6 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#textoEncriptado {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;    
}

#encriptar{
    /* Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px; 
}

#textobotonencriptar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* White */
    color: #FFFFFF;
}

#desencriptar {
    /* Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

#textobotondesencriptar, #textobotoncopiar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

#copiar {
    /* Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    background: #FFFFFF;
}

/* TABLET  */
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
    body {
        position: relative;
        width: 768px;
        height: 1384px; 
        margin: 0px;
        padding: 0px;       
        
    }        
                                            
    #frame6 {
       left: 0px;                
    }

    #logo {
        position: relative;
        left: 0%;
        right: 0%;
        top: 6.25%;
        bottom: 89.8%;          
    }

    #rectangulo {
        position: absolute;
        width: 688px;
        height: 343px;
        left: 40px;
        top: 1001px;
    }

    #textoIngresado {
        position: absolute;
        width: 688px;
        height: 288px;
        left: 40px;
        top: 240px;
    }

    #frame1 {
        position: absolute;
        width: 229px;
        height: 18px;
        left: 20px;
        top: 836px;
    }
    
    #exclamacion {
        position: absolute;
        left: 10%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    
    p {
        position: absolute;
        width: 205px;
        height: 18px;
        left: 20%;
        top: 0px;
    }

    #frame3 {                        
        position: absolute;
        padding:0px;
        width: 688px;
        height: 67px;
        left: 40px;        
        top: 870px;      
                                         
    }

    #textoEncriptado {
        position: absolute;
        padding:0px;
        width: 624px;
        height: 180px;
        left: 72px;
        top: 1033px;
    }

    #encriptar {
        position: absolute;      
        margin:0px;  
        width: 332px;
        height: 67px;
        left: 0px;
        top: 0px;        
    }

    #textobotonencriptar {
        position: absolute;
        margin:0px;
        width: 332px;
        height: 67px;
        left: 0px;
        top: 24px;
    }

    #desencriptar {
        position: absolute;
        padding: 0px;
        width: 332px;
        height: 67px;
        left: 356px;
        top: 0px;
        margin:0px;
    }
 
    #textobotondesencriptar {
        position: absolute;
        padding: 0px;
        margin:0px;
        width: 332px;
        height: 67px;
        left: 0px;
        top: 24px;
    }   

    #textobotoncopiar {
        position: static;
        width: 576px;
        height: 19px;
        left: 24px;
        top: 0px;
    }

    #copiar {
        position: absolute;
        width: 624px;
        height: 67px;
        left: 74px;
        top: 1244px;
    }

}
 
/* CELULAR   */

@media screen and (max-width: 400px) {
    body {
        position: relative;
        width: 375px;
        height: 1715px;
        margin: 0px;
        padding: 0px;     
    }        
                                            
    #frame6 {
       left: -15px;                
       top: 10px;
    }

    #logo {
        position: relative;                
        top: 1.4%;        
    }

    #rectangulo {
        position: absolute;
        width: 343px;
        height: 595px;
        left: 16px;
        top: 1096px;
    }

    #textoIngresado {
        position: absolute;
        width: 343px;
        height: 624px;
        left: 16px;
        top: 152px;
    }

    #frame1 {                        
        left:0px;
        
    }
                                
    #frame3 {        
    position: absolute;
    width: 343px;
    height: 158px;
    left: 16px;
    top: 874px;                                                  
    }

    #textoEncriptado {
        position: absolute;
        padding:0px;
        width: 279px;
        height: 432px;
        left: 48px;
        top: 1128px;
    }     
    
    #encriptar {
        width: 343px;
    }
    
    #desencriptar {
        position: absolute;  
        margin: 0px;   
        width: 343px;        
        left: 0px;
        top: 91px;                                          
    }   
                        
    #textobotoncopiar {
        position: static;
        width: 279px;
        height: 67px;
        left: 0px;
        top: 24px;
        margin: 0px;
    }

    #copiar {
        position: absolute;
        width: 279px;
        height: 67px;
        left: 48px;
        top: 1592px;
        padding-left: 0px;
    }

}