/* Configuraciones Esenciales */
* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Petemoss&family=Roboto:ital,wght@0,300;1,100&display=swap');

body {
    margin: 0;    
    font-family: 'Roboto', sans-serif;                
}

header {
    background-color: aqua; 
    text-align:center;      
    height: 150px;        
}

header * {
    display: inline;  
    padding: 20px;
    }

section {
    width: 800px;    
    margin: 20px auto;
}

h1 {
    font-family: 'Petemoss', cursive;
    font-size: 50px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;            
    font-weight: bold;
}








