@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

 
 /* Configuraciones Esenciales */    
:root {
    --color-ppal: #009ca1d9;
    --color-blanco: #ffffff;
    --color-gray: #dadada;
} 

body {
    box-sizing: border-box;
    top: 0;
    margin: 0;
}

.div-container {
    margin: 0rem;
    background-color: var(--color-ppal);    
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
}

.div-logo {
    width: 10rem;
    margin: 1rem;    
    margin-left: 2.5rem ;    
    width: 93px;   
}

.div-logo img {        
    width: inherit;
}

.div-menu {    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}
.div-menu-ppal {    
    display:flex;    
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--color-blanco);
    width: 40rem;    
    justify-content: end;
    gap: 1rem;
}

.div-menu-sec {    
    display:flex;    
    margin-top: 0.5rem;
    justify-content: end;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--color-gray);
    width: 40rem;
    gap: 1.5rem;     
}

.div-menu-sec .items-sec:nth-child(6) {
    background-color: lawngreen;
    width: 66px;    
}
