    /* Para importar fuentes, hay que ir a la página https://fonts.google.com/ y traer la familia del font que deseo */
    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Petemoss&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Petemoss&family=Roboto:ital,wght@0,300;1,100&display=swap');
    
    /* Configuraciones Esenciales */    
    body {
        box-sizing: border-box;
        top: 0;
        margin: 0;
    }
    
    header {
        background-color: #139EA5;
        color: #ffffff;
        display: flex;
        top: 0rem;
        left: 0rem;
        height: 7rem;
        width: 100%;
        viewport-fit: 100%;
        width: device-width;
        position: sticky;        
    }
 
    footer {
        padding-top: 10rem;
        height: 30rem;
    }
    section {        
        width: 80%;
        margin: 1rem auto;
        height: auto;
    }

    .SECCION {
        padding-top: 6rem;
    }
 
    figure {
        display: flex;
        /*align-self: center;        */
    }

    figure figcaption{
        margin-top: 3.5rem;
    }

    nav {               
        display: flex;
        width: 100%; 
        align-items: center;
        justify-content: space-between;   
         
    }
    
    nav ul {
        display: flex;        
        list-style: none;
        align-items: center;
        flex-wrap: wrap;        
    }
    
    nav ul li {        
        margin: 0 1.5rem;        
    }
           
    .SUB-MENU {
       position: absolute;
        display:flex;
        flex-direction: column;        
        padding-top: 0rem;
        padding-bottom: 1rem;
        padding-left: 0;        
        background-color: #139EA5;  
        display: none;   
    }

    .SUB-MENU li {
        padding-top: 1rem;        
    }

    .MENU-OPTIONS:hover .SUB-MENU {        
        display: flex;
        background-color:  #f9f9f9;
    }

    .MENU-OPTIONS:hover a {
        color: black;        
    }
                               
    .texto-menu, figcaption {
        margin-top: 40px;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }
    
    a {
        color: #ffffff;
        text-decoration: none;
    }
    
    a:hover {                
        color: black;
        font-weight: bold;        
    }
    
    .li-menu1 img {
        margin: 1rem;
        height:auto;
        width: 11rem;
        box-shadow: 3px 3px 10px black;
    }
    
    .li-menu2 img {
        height: auto;
        width: 14rem;
        box-shadow: 3px 3px 10px black;
    }
    
    .li-menu1 img:hover,
    .li-menu2 img:hover {
        border: 2px solid rgb(216, 210, 210);
    }
         
    h1 {
        font-family: 'Petemoss', cursive;
        font-size: 50px;
        text-align: center;
    }
    
    h2 {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }